# PG specific additions
app/components/api_tools/data/
*.ipynb
Server_output/
Server_input/
app/data/db/db build files/
app/pages/proteomics_fi.py
debug/

__pycache__/
.ipynb_checkpoints/
tmp/
logs/
.vscode/

# Virtual environments
env/
venv/
ENV/
.venv/
.virtualenv/


# Test result files
.coverage
*.cover
.hypothesis/
.pytest_cache/


# Database files
*.db
*.sqlite3
