# PG specific additions
api_data/
*.ipynb
Server_output/
Server_input/
app/data/db/db build files/
app/data/db/db build files/*

__pycache__/
.ipynb_checkpoints/
tmp/
logs/

# Virtual environments
env/
venv/
ENV/
.venv/
.virtualenv/


# Test result files
.coverage
*.cover
.hypothesis/
.pytest_cache/


# Database files
*.db
