name: proteogyver
services:
  pgyver_testing:
    image: pgyver:1.46
    container_name: pgtest146
    ports:
      - 8060:8050
    environment:
      - TZ=Europe/Helsinki
    volumes:
      - /data/PG_containers/cache/PG_test:/proteogyver/cache
      - /data/PG_containers/db/PG_test:/proteogyver/data/db
      - /mnt/varjosalo_MS_rundata:/proteogyver/data/MS_rundata
      - /mnt/varjosalo_Server_output:/proteogyver/data/Server_output
    restart: unless-stopped
  pgyver_production:
    image: pgyver:1.4a
    container_name: pgprod14a
    ports:
      - 8050:8050
    environment:
      - TZ=Europe/Helsinki
    volumes:
      - /data/PG_containers/cache/PG_prod:/proteogyver/cache
      - /data/PG_containers/db/PG_prod:/proteogyver/data/db
      - /mnt/varjosalo_MS_rundata:/proteogyver/data/MS_rundata
      - /mnt/varjosalo_Server_output:/proteogyver/data/Server_output
    restart: unless-stopped
