"Navbar page order" = ["qc and data analysis", "ms inspector", "windowmaker", "colocalizer"]

[Config]
"Local debug" = false
LogDir = "logs"
LogLevel = 20
"Log compress days" = 3
"Log keep days" = 365
"R error file" = "R_errors.log"
"Time format" = "%Y-%m-%d %H:%M:%S"
# Either integer or "ncpus". if ncpus, all CPUs will be used if possible. 
"CPU count limit" = "ncpus"

["Cytoscape layout parameters"]
maxSimulationTime = 12000
nodeSpacing = 15
padding = 10
randomize = true

["Maintenance"."Cleanup"."Cache dir"]
"Path" = "Data paths" # Either a list (e.g. ["/proteogyver", "cache"]), or if a string, the path must be found in "Data paths" below. e.g. in this case, "Cache dir" is a key both here and in "Data paths"
"Clean unused interval days" = 4 # either integer or "NO CLEANUP"
"Archive dir" = "" # If not empty, instead of deleting old cache dirs, they will be moved here instead
["Maintenance"."MS run parsing"]
"Input files" = ["params:Data paths.Data import and export.Data import dir", "MS runs jsons"]
"Move done jsons into subdir" = "parsed_jsons" # If this is set to an empty string, the json files will be deleted after parsing.
"Compress done when filecount over" = 1000

["Data paths"]
"Cache dir" = ["cache"]
"Database file" = ["data", "db", "proteogyver.sqlite3"]
"Schema file" = ["resources", "proteogyver_schema.sql"]
"Minimal database file" = ["data", "minimal_pg_db.sqlite3"]
"Example files" = ["data", "PG example files"]
"Example proteomics comparison file" = ["data", "example proteomics comparisons file.tsv"]
"Enrichers" = ["components", "enrichment"]
"DB build files" = ["data", "db build files"]
"External" = ["external"]
"Api data" = ["components", "api_tools", "data"]
"Data dir" = ["data"]

["Data paths"."Data import and export"]
"Data import dir" = ["data", "Server_input"]
"Data export dir" = ["data", "Server_output"]

# For data paths, the first entry of the path list can include paths from the parameters.toml file. these are prefixed with params: and contain the path in the config. 
# E.g. ["params:Data paths.Example files", "more examples", "Example text.txt"] would evaluate to, by default, data/PG example files/more examples/Example text.txt

["Pipeline module"]
"Input watch directory" = ["params:Data paths.Data import and export.Data import dir", "Pipeline_input"]
"Default toml files directory" = ["params:Data paths.Data dir", "Pipeline module default tomls"]

["Database creation"]
"Database build files directory" = ["params:Data paths.DB build files"]
"Contaminants table" = "contaminant_list.tsv"
"Control table" = "control table.tsv"
"Crapome table" = "crapome table.tsv"
"Organisms to include in database" = [9606]
"Sets not included in controls" = ["Nesvilab"]
"Control and crapome db detailed columns" = [
    "protein_id",
    "identified_in",
    "frequency",
    "spc_sum",
    "spc_avg",
    "spc_min",
    "spc_max",
    "spc_stdev"
]
"Control and crapome db detailed types" = [
    "TEXT PRIMARY KEY",
    "INTEGER NOT NULL",
    "REAL NOT NULL",
    "INTEGER NOT NULL",
    "REAL NOT NULL",
    "INTEGER NOT NULL",
    "INTEGER NOT NULL",
    "REAL NOT NULL"
]
"Default control disabled regex list" = [".*[Mm][Aa][Cc]2.*"]

["Database creation"."Control and crapome sets"]
"VL GFP MAC3 10min AP" = ["VL GFP MAC3-N AP-MS"]
"VL GFP MAC3 10min BioID" = ["VL GFP MAC3-N BioID"]
"VL GFP MAC2 18h AP" = [
    "VL GFP MAC2-C AP-MS",
    "VL GFP MAC2-N AP-MS"
]
"VL GFP MAC2 18h BioID" = [
    "VL GFP MAC2-C BioID",
    "VL GFP MAC2-N BioID"
]
"VL GFP MAC 24h AP" = [
    "VL GFP MAC-C AP-MS",
    "VL GFP MAC-N AP-MS"
]
"VL GFP MAC 24h AP NLS" = [
    "VL GFP MAC-MED-NLS AP-MS",
    "VL GFP MAC-MYC-NLS AP-MS",
    "VL GFP MAC-NLS AP-MS"
]
"VL GFP MAC 24h BioID" = [
    "VL GFP MAC-C BioID",
    "VL GFP MAC-N BioID"
]
"VL GFP MAC 24h BioID NLS" = [
    "VL GFP MAC-MED-NLS BioID",
    "VL GFP MAC-MYC-NLS BioID",
    "VL GFP MAC-NLS BioID"
]
"Nesvilab" = ["nesvilab"]

["Database creation"."Control and crapome column mapping"]
"crapome" = ["params:Data paths.DB build files", "crapome sets.json"]
"control" = ["params:Data paths.DB build files", "control sets.json"]

["Database updater"]
"Allowed missing columns" = 3
"Allowed new columns" = 2
"Log table" = "update_log"
"Update interval minutes" = 5 # This is the minumum interval. the updater will only update, when it is run
"External data update interval days" = 30
"Tsv templates directory" = ["params:Data paths.Data import and export.Data export dir", "db update tsv templates"]
"Database clean interval days" = 60
# These specify whether we should delete data from the database that is no longer in uniprot or known databases during database update.
# Uniprot especially should probably be left to false, as custom added proteins do exist in the database, e.g. tags and old crapome entries.
"Delete old uniprots" = false
"Delete old interactions" = true
# These columns are not compared when checking for differences between existing database and new incoming data from update tables.
"Ignore diffs" = [ "biological_role_interactor_a", "annotation_interactor_a", "annotation_interactor_b", "biological_role_interactor_b", "is_latest", "contamination_source", "entry_source", "version_update_time", "prev_version", "update_time", "modification", "ontology_term_categories",    "intact_creation_date",    "intact_update_date",    "experimental_role_interactor_a",    "experimental_role_interactor_b",    "ontology_term_ids",    "ontology_term_names",    "ontology_term_qualifier_ids",    "ontology_term_qualifier_names",    "ontology_term_types",    "qualifications",    "tags",    "publication_count",    "throughput"]

["Database updater"."Database table primary keys"]
common_proteins = "uniprot_id"
contaminants = "uniprot_id"
control_sets = "control_set"
crapome_sets = "crapome_set"
known_interactions = "interaction"
ms_runs = "internal_run_id"
ms_plots = "internal_run_id"
msmicroscopy = "Interaction"
proteins = "uniprot_id"

["Database updater"."Update files"]
common_proteins = ["params:Data paths.Data import and export.Data import dir", "db_updates", "common_proteins"]
contaminants = ["params:Data paths.Data import and export.Data import dir", "db_updates", "contaminants"]
control_sets = ["params:Data paths.Data import and export.Data import dir", "db_updates", "control_sets"]
crapome_sets = ["params:Data paths.Data import and export.Data import dir", "db_updates", "crapome_sets"]
known_interactions = ["params:Data paths.Data import and export.Data import dir", "db_updates", "known_interactions"]
ms_runs = ["params:Data paths.Data import and export.Data import dir", "db_updates", "ms_runs"]
ms_plots = ["params:Data paths.Data import and export.Data import dir", "db_updates", "ms_plots"]
msmicroscopy = ["params:Data paths.Data import and export.Data import dir", "db_updates", "msmicroscopy"]
proteins = ["params:Data paths.Data import and export.Data import dir", "db_updates", "proteins"]
add_or_replace = ["params:Data paths.Data import and export.Data import dir", "db_updates", "add_or_replace"]
remove_data = ["params:Data paths.Data import and export.Data import dir", "db_updates", "remove_data"]

["Database updater"."Database snapshot settings"]
"Snapshot dir" = ["params:Data paths.Data import and export.Data export dir", "db snapshots"]
"Snapshot interval days" = 30
"Snapshots to keep" = 3

["Database updater"."Versions to keep"]
biogrid_path = ["params:Data paths.Api data", "BioGRID"]
intact_path = ["params:Data paths.Api data", "IntAct"]
biogrid = 3
intact = 3
biogrid_regex = "BIOGRID-ALL-(\\d+\\.\\d+\\.\\d+)"
intact_regex = "^(\\d{4}-\\d{2}-\\d{2})_intact"

["External tools"]
"SAINT tempdir" = ["params:Data paths.External", "SAINTexpress"]

["Figure defaults".full-height]
width = 1000
min_width_per = 20
side_width = 50
height = 800
["Figure defaults".full-height.config]
staticPlot = false
editable = false
["Figure defaults".full-height.config.toImageButtonOptions]
format = "png"

["Figure defaults".half-height]
width = 1000
min_width_per = 20
side_width = 50
height = 400
["Figure defaults".half-height.config]
staticPlot = false
editable = false
["Figure defaults".half-height.config.toImageButtonOptions]
format = "png"

["file loading"]
"Bait ID column names" = ["bait uniprot", "bait id", "bait identifier", "baitid", "bait up"]
"Do not show in enrichment default" = []
"Maximum psm ever theoretically encountered" = 5000

["Possible values"]
"Figure templates" = ["plotly_white", "simple_white", "plotly_dark"]
Figure-config-toImageButtonOptions-format = ["png", "svg", "jpeg", "webp"]
"Implemented workflows" = ["Proteomics", "Interactomics"]

["workflow parameters"]
phosphoproteomics = "Not implemented"
["workflow parameters".interactomics]
"control indicators" = ["ctrl", "gfp", "control"]

["workflow parameters".proteomics]
na_filter_default_value = 60
"default imputation method" = "QRILC"
"default normalization method" = "no_normalization"

["workflow parameters".proteomics."imputation methods"]
QRILC = "QRILC"
minProb = "minProb"
gaussian = "gaussian"
minValue = "minValue"
"Random forest" = "random_forest"

["workflow parameters".proteomics."normalization methods"]
Median = "Median"
Quantile = "Quantile"
Vsn = "Vsn"
"No normalization" = "no_normalization"
