services:
  proteogyver:
    image: ksal/proteogyver:1.5.3
    container_name: proteogyver15
    ports:
      - "8050:8050"
    environment:
      TZ: Europe/Helsinki
      MONITOR_RESOURCES: "false"
      #RESOURCE_LOG_DIR: /proteogyver/data/Server_output/logs/resources
      RESOURCE_LOG_INTERVAL_SECONDS: 5
      RESOURCE_LOG_KEEP_DAYS: 30
      CELERY_WORKER_LOGLEVEL: "INFO"
      CELERY_BEAT_LOGLEVEL: "INFO"
      GUNICORN_LOG_LEVEL: "info"
    volumes:
      - /data/PG15/cache:/proteogyver/cache
      - /data/PG15/db:/proteogyver/data/db
      - /data/PG15/input:/proteogyver/data/Server_input
      - /data/PG15/output:/proteogyver/data/Server_output
      # This is required for the updater to share one parameter file with the server.
      - /data/PG15/config:/proteogyver/config
    restart: unless-stopped
