services:
  pgyver_production:
    image: pgyver:1.5
    container_name: pgprod15
    ports:
      - 8050:8050
    environment:
      - TZ=Europe/Helsinki
      - MONITOR_RESOURCES=true
      - RESOURCE_LOG_DIR=/proteogyver/data/Server_output/logs/resources
      - RESOURCE_LOG_INTERVAL_SECONDS=5
      - RESOURCE_LOG_KEEP_DAYS=30

    volumes:
      - /data/PG_containers/cache/PG_prod:/proteogyver/cache
      - /data/PG_containers/db/PG_prod:/proteogyver/data/db
      - /data/PG_containers/conf/PG_prod/parameters.toml:/proteogyver/parameters.toml
      - /mnt/varjosalo_MS_rundata:/proteogyver/data/MS_rundata
      - /mnt/varjosalo_Server_output:/proteogyver/data/Server_output
    restart: unless-stopped
